<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div>
        <ul class="list-group my-5" *ngFor="let post of posts">
          <li class="list-group-item user-id">User id: {{ post?.userId }}</li>
          <li class="list-group-item">Post id: {{ post?.id }}</li>
          <li class="list-group-item">Title: {{ post?.title }}</li>
          <li class="list-group-item">Body: {{ post?.body }}</li>
        </ul>
        <a
          style="margin-bottom: 40px"
          [routerLink]="['..']"
          class="btn btn-outline-success"
          >Go Back To User</a
        >
      </div>
    </div>
  </div>
</div>
